
*{
  margin: 0;
  padding: 0;

}.container{
  width: 100vw;
  height: 100vh;
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
 

}
h1{
  text-align: center;
}
.box{
  width: auto;
  height: 150px;
  padding: 20px;
  border: 2px solid blue;
}